:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #262626;
  background-color: #fff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
